.show__talent {
  &--title {
    p {
      font-size: 13px;
    }
    h3 {
      margin-right: 20px;
    }
  }
  &--filter {
    margin-left: 10px;
    button {
      background-color: var(--banner-color);

      color: var(--font-color);
      width: 50px;
      height: 47px;

      border-radius: 12px;
      border: none;
      cursor: pointer;
      svg {
        font-size: 20px;
      }
    }
  }

  &--options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-color);
    // background-color: yellow;
    border-radius: 13px;

    height: 50px;
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 7px;
        button {
          background-color: var(--banner-color);

          color: var(--text-color);
          width: 100px;
          height: 38px;

          border-radius: 12px;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.show__talent--options button.active {
  background-color: var(--background-color);
}

.show__talent--filter button.active {
  background-color: var(--color-blue);
  color: #fff;
}

.search__section {
  &--slider {
    padding: 10px;
    p {
      margin-top: 0;
    }
  }

  &--range {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/images/wave.png");
    object-fit: contain;
    object-position: top;
    height: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
  }

  &--input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    label {
      font-size: 12px;
      color: black;
      margin-left: 4px;
      font-weight: 600;
    }
    input {
      width: 130px;
      height: 35px;
      padding: 2px 5px 2px 10px;
      border-radius: 12px;
      border: 1px solid gray;
      color: black;
    }
  }

  &--right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &--toggles {
    display: flex;
  }

  &--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    button {
      width: 145px;
      height: 44px;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  &--cancel {
    button {
      border: 1px solid #edf0f3;
      background-color: transparent;
    }
  }

  &--apply {
    button {
      background-color: var(--color-blue);
      color: #fff;
      border: none;
    }
  }

  &--toggle {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    margin-left: 10px;
    padding: 1px 13px;
    border-radius: 12px;
    border: 1px solid var(--color-senary);
    p {
      margin: 0;
      font-size: 14px;
      color: var(--font-color);
    }
  }

  &--label {
    margin: 0 !important;
    padding: 0 8px;
    font-size: 12px;
  }

  &--prices {
    width: 100%;
    margin-top: -15px;
    span {
      font-size: 13px;
      font-weight: 600;
    }
  }

  &--dropdown {
    margin-right: 10px;
    border: 1px solid var(--color-senary);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    span {
      font-size: 12px;
      color: var(--font-color);
    }
    button {
      background-color: transparent;
      border: none;
      color: var(--font-color);
    }

    label {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      color: var(--font-color);
      margin-right: 5px;
      svg {
        font-size: 16px;
        margin-right: 5px;
        margin-top: -5px;
        color: var(--font-color);
      }
    }

    select {
      background-color: var(--background-color);
      border: none;
      color: var(--font-color);
      width: 200px;

      option {
        color: var(--font-color);
        border: none;
      }
      :active {
        border: none;
      }
    }
  }
}

select#cars {
  border: none !important;
  width: 140px !important;
}

select#cars:focus {
  outline: none;
}

select#sort {
  border: none !important;
  width: 140px !important;
}

select#sort:focus {
  outline: none;
}

.css-lmso92 {
  padding: 0 !important;
  height: 0 !important;
  color: black !important;
}
