aside {
  background-color: var(--background-color);
  height: 100vh;
  position: fixed;
  /* bottom: 0; */
  top: 0;
  left: 0;
  z-index: 111;
}

.hamburger__container .navbar__container--info1 {
  ul li {
    margin: 4px 0;
  }
}

.hamburger__container {
  height: 100%;
  width: 100%;
  text-align: start;
  /* bottom: 0; */
  /* margin: 2rem 2rem; */
  position: absolute;

  &--card {
    width: 70%;
    margin: 1rem auto;
  }
}

.filtration__container--hamburger .search__section {
  display: none;
  @include respond(phone) {
    display: inline;
  }
}

.show__talent--desktop {
  display: inline;
  @include respond(phone) {
    display: none;
  }
}

.show__talent--mobile {
  display: none;
  @include respond(phone) {
    display: inline;
  }
}

.hamburger__container {
  &--button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;

      svg {
        color: var(--font-color);
      }
    }
  }

  &--footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      margin: 0 0.2rem;
      background-color: transparent;
      font-weight: 600;
      border: 1px solid #fbfbfc;
      padding: 10px 6px;
      color: var(--font-color);
      background-color: var(--banner-color);
      border-radius: 12px;
      svg {
        font-size: 1.2rem;
        margin: 0 0.6rem 0 0;
        color: var(--font-color);
      }
    }
  }
}

.filtration__container {
  display: none;
  @include respond(phone) {
    display: inline;
  }
}

.show__talent {
  &--title {
    p {
      font-size: 13px;
    }
    h3 {
      margin-right: 20px;
      @include respond(phone) {
        margin-right: 5px;
        font-size: 0.9rem;
      }
    }
  }
  &--filter {
    margin-left: 10px;
    button {
      background-color: var(--banner-color);

      color: var(--font-color);
      width: 50px;
      height: 47px;

      border-radius: 12px;
      border: none;
      cursor: pointer;
      svg {
        font-size: 20px;
      }
    }
  }

  &--options {
    @include respond(phone) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-color);
    // background-color: yellow;
    border-radius: 13px;

    height: 50px;
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 7px;
        button {
          background-color: var(--banner-color);

          color: var(--text-color);
          width: 100px;
          height: 38px;

          border-radius: 12px;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @include respond(phone) {
            width: auto;
          }
          svg {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.show__talent--options button.active {
  background-color: var(--background-color);
}

.show__talent--filter button.active {
  background-color: var(--color-blue);
  color: #fff;
}

.search__section {
  display: inline;
  @include respond(phone) {
    display: none;
  }
  &--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &--slider {
    padding: 10px;
    p {
      margin-top: 0;
    }
  }

  &--range {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/images/wave.png");
    object-fit: contain;
    object-position: top;
    height: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
  }

  &--input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    label {
      font-size: 12px;
      color: black;
      margin-left: 4px;
      font-weight: 600;
    }
    input {
      width: 130px;
      height: 35px;
      padding: 2px 5px 2px 10px;
      border-radius: 12px;
      border: 1px solid gray;
      color: black;
      @include respond(phone) {
        width: 100px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }

  &--right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond(tab-port) {
      margin-top: 1.2rem;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      width: 250px;
    }
  }
  &--toggles {
    display: flex;
    @include respond(phone) {
      flex-direction: column;
      div {
        margin-bottom: 0.8rem;
      }
    }
  }

  &--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    button {
      width: 145px;
      height: 44px;
      border-radius: 12px;
      cursor: pointer;
      @include respond(phone) {
        width: 115px;
      }
    }
  }
  &--cancel {
    button {
      border: 1px solid #edf0f3;
      background-color: transparent;
    }
  }

  &--apply {
    button {
      background-color: var(--color-blue);
      color: #fff;
      border: none;
    }
  }

  &--toggle {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    margin-left: 10px;
    padding: 1px 13px;
    border-radius: 12px;
    border: 1px solid var(--color-senary);
    @include respond(phone) {
      margin-left: 0px;
    }
    p {
      margin: 0;
      font-size: 14px;
      color: var(--font-color);
    }
  }

  &--label {
    margin: 0 !important;
    padding: 0 8px;
    font-size: 12px;
  }

  &--prices {
    width: 100%;
    margin-top: -15px;
    span {
      font-size: 13px;
      font-weight: 600;
    }
  }

  &--dropdown {
    margin-right: 10px;
    border: 1px solid var(--color-senary);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    @include respond(phone) {
      margin-bottom: 0.8rem;
    }
    span {
      font-size: 12px;
      color: var(--font-color);
    }
    button {
      background-color: transparent;
      border: none;
      color: var(--font-color);
    }

    label {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: var(--font-color);
      margin-right: 5px;
      padding: 2px 15px;
      @include respond(phone) {
        width: 100%;
      }
      svg {
        font-size: 16px;
        margin-right: 5px;
        margin-top: -5px;
        color: var(--font-color);
      }
    }

    select {
      background-color: var(--background-color);
      border: none;
      color: var(--font-color);
      width: 200px;

      option {
        color: var(--font-color);
        border: none;
      }
      :active {
        border: none;
      }
    }
  }
}

select#cars {
  border: none !important;
  width: 140px !important;
}

select#cars:focus {
  outline: none;
}

select#sort {
  border: none !important;
  width: 140px !important;
}

select#sort:focus {
  outline: none;
}

.css-lmso92 {
  padding: 0 !important;
  height: 0 !important;
  color: black !important;
}

.css-ne27ck {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  margin: 0;
  // position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 0;
  width: 0ch;
  min-width: 0ch;
  position: absolute;
  max-height: 85vh;
  padding: 15px;
  right: 2%;
}
